body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board-container {
    width: 60%;
    height: 60%;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 20%;
}

.row {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
}
